{% extends 'base.html' %}
{% block content %}
<div class='container'>

<h3>Список категории</h3>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название категории</th>
      <th scope="col">Инвентарныый номер</th>
    </tr>
  </thead>
  <tbody>
  {% for category in categories %}
    <tr>
      <th scope="row">{{ category.id }}</th>
      <td>{{ category.name }}</td>
      <td>{{ category.code }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}